@import '../../style/colors';

.categoryCard {
  background-color: $secondary-background-color;
  .actions {
    flex-direction: row-reverse;
  }
  :global {
    .mdc-card__action--accent {
      background-color: var(--mdc-theme-primary, #3f51b5);
      color: var(--mdc-theme-text-primary-on-primary, #fff);
    }
  }
}
