@import '../../style/_colors';

.toolbar {
  .flagTitle {
    min-height: 70px;
    width: 105px;
    background: url('../../assets/morroco.svg') no-repeat;
    background-size: cover;
    box-shadow: 1px -1px 4px $morocco-red;
    margin-left: 0 !important;
    cursor: pointer;
  }
  .title {
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 5px $morocco-green;
  }

  a.active {
    background: rgba(0, 0, 0, 0.4);
  }
}
