@font-face {
  font-family: 'ralewayregular';
  src: url('/assets/fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/raleway/raleway-regular-webfont.woff') format('woff'),
    url('/assets/fonts/raleway/Raleway-Regular.ttf')
      format('truetype'),;
  font-weight: normal;
  font-style: normal;
}
