@import "./colors";
@import "./fonts";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $background-color;
  font-family: "ralewayregular", arial, sans-serif;
  font-weight: 400;
  color: $txt-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@import "~preact-material-components/TopAppBar/style.css";
@import "~preact-material-components/Button/style.css";
@import "~preact-material-components/Card/style.css";
@import "~preact-material-components/Drawer/style.css";
@import "~preact-material-components/Elevation/style.css";
@import "~preact-material-components/LayoutGrid/style.css";
@import "~preact-material-components/List/style.css";
