@import '../../style/colors';

.container {
  max-width: 1080px;
}
.words {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.layout {
  padding: 0 !important;
}
.gridInner {
  height: 100%;
}
