@import '../../style/colors';

.slider {
  width: 100%;
  overflow: hidden;

  .sliderContainer {
    display: flex;
    flex-direction: row;
    transform-origin: 50% 0;
    transition: transform .5s ease-out;
  }
}

.slide {
  display: flex;

  .slideContent {
    background-color: $secondary-background-color;
    cursor: grabbing;
    height: 60vh;
    padding: 1em;
  }
}
